<form method="post" enctype="multipart/form-data" asp-action="Upload" asp-controller="Kupac">



    <input type="text" name="IgraID" id="IgraID"/>
    <input type="file" name="Image" id="Image"/>
    <br />
    <button type="submit">upload</button>
</form>