
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<a asp-action="OdobriGet">Lista neodobrenih igrica</a>
<br />
<a asp-action="Prikaz">Pregled developera</a>
<br />
<a asp-action="PrikazIgara">Pregled igara</a>
<br />
<a asp-action="PrikazRefundova">Zahtjevi za refund</a>
<br />
<a asp-action="GetZahtjeveZaPremium">Zahtjevi za premium</a>
<br />
<a asp-action="PregledReporta"> Pregled reporta</a>