<link rel="stylesheet" type="text/css" href="~/css/PopUp.css" !important>


<div class="mReportWindowBg">
    <div class="mReportWindow" >
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true" style="font-size:35px;">&times;</span>
        </button>
        <textarea placeholder="Unesite razlog..." id="text"></textarea>
        <br /><br /><br />
        <button class="btn btn-default" id="report">podnesi zahtijev</button>
    </div>
</div>


<script>

    $(document).ready(function () {

        

        $(".report").click(function () {

          

        });
    });
</script>


