@model eStore_web.EF_Models.Kupac
@{
    Layout = "_LayoutEditProfile";
    var Kupac = Model;
    string success = (string)TempData["success-key"];
    string error = (string)TempData["error-key"];
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js"></script>
<script src="~/js/EditProfileValidation.js" !important></script>
<style>
    label.error {
        color: red;
        margin-bottom: 0;
        padding-bottom: 0;
    }
</style>
<script>
    $(document).ready(function () {





        $(".ChangePassword").validate({

            rules:
            {
                StariPassword:
                {
                    required: true,
                },
                NoviPassword1:
                {
                    required: true,
                    minlength: 10,
                    maxlength:30,
                },
                NoviPassword2:
                {
                    required: true,
                    equalTo: "#NoviPassword1",

                },

            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });

</script>


@if (success != null)
{

    <div class="alert alert-success alert-dismissible" id="uno" role="alert">
        <strong>Uspjesna ste promjenili: </strong>

        <button type="button" class="close" id="close" data-dismiss="alert" aria-label="Close" onclick="ukloni(this)">
            <span aria-hidden="true">&times;</span>
        </button>
        <span style="font-weight:600;text-align:left">@Html.Raw(success)</span>
    </div>
}
@if (error != null)
{

    <div class="alert alert-danger alert-dismissible"id="uno" role="alert">
        <strong>Greska!</strong>

        <button type="button" id="close" class="close" data-dismiss="alert" aria-label="Close" onclick="ukloni(this)">
            <span aria-hidden="true">&times;</span>
        </button>
        <span style="font-weight:600;text-align:left">@Html.Raw(error)</span>
    </div>
}
@using (Html.BeginForm("ChangePasswordSet", "Profile", FormMethod.Post, new { @class = "form-horizontal ChangePassword" }))
{

    <fieldset>

        <!-- Form Name -->
        <legend>Promjena passworda</legend>
        <input type="text" id="KupacID" name="KupacID" value="@Kupac.KupacID" hidden/>
        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="StariPass">Unesite stari password</label>
            <div class="col-md-4">
                <input id="StariPassword" name="StariPassword" type="password" placeholder="" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="NoviPassword1">Unesite novi password</label>
            <div class="col-md-4">
                <input id="NoviPassword1" name="NoviPassword1" type="password" placeholder="" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="NoviPassword1">Ponovite novi password</label>
            <div class="col-md-4">
                <input id="NoviPassword2" name="NoviPassword2" type="password" placeholder="" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="submit"></label>
            <div class="col-md-4">
                <button id="submit" name="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </fieldset>
}
