<link rel="stylesheet" type="text/css" href="~/css/profile.css">
<style>
    #noContent {
        font-size:25px;
    }
  #noContent a
  {
      text-decoration:none;
  }
</style>
<div class="mContent" style="border-bottom:2px solid black">
    <p id="noContent" style="color:black;padding-top:15px;">404</p>
    <p id="noContent">Trazeni profil ne postoji</p>
    <p id="noContent">Vrati se na <a href="/Kupac/Index">pocetnu stranicu</a></p>
<br />
</div>
